@use 'element-plus/theme-chalk/src/mixins/function.scss' as *;

$vxe-table-validate-error-color: #f56c6c;

%ResetBorder {
  border: 0;
}

%SliderStyle {
  .#{bem(slider,runway)} {
    margin: 8px 0;
    .#{bem(slider,button,wrapper)} {
      z-index: auto;
    }
  }
}

%CompWidth {
  & > .#{bem(input)},
  & > .#{bem(autocomplete)},
  & > .#{bem(input-number)},
  & > .#{bem(select)},
  & > .#{bem(cascader)},
  & > .#{bem(date-editor)},
  & > .#{bem(slider)} {
    width: 100%;
  }
  & > .#{bem(color-picker)} {
    vertical-align: middle;
  }
}
.vxe-form {
  .vxe-form--item-content {
    @extend %CompWidth;
  }
}
.vxe-table--filter-element-wrapper {
  padding: 0.8em 1em;
  & > .#{bem(input)},
  & > .#{bem(input-number)},
  & > .#{bem(autocomplete)},
  & > .#{bem(select)},
  & > .#{bem(rate)},
  & > .#{bem(slider)} {
    width: 180px;
  }
  & > .#{bem(slider)} {
    @extend %SliderStyle;
  }
}
.vxe-table {
  .vxe-cell,
  .vxe-tree-cell {
    @extend %CompWidth;
    & > .#{bem(slider)} {
      @extend %SliderStyle;
    }
  }
}
.col--valid-error {
  & > .vxe-cell,
  & > .vxe-tree-cell {
    & > .#{bem(input)} .#{bem(input,inner)},
    & > .#{bem(autocomplete)} .#{bem(input,inner)},
    & > .#{bem(input-number)} .#{bem(input,inner)},
    & > .#{bem(select)} .#{bem(input,inner)},
    & > .#{bem(cascader)} .#{bem(input,inner)},
    & > .#{bem(date-picker)} .#{bem(input,inner)} {
      border-color: $vxe-table-validate-error-color;
    }
  }
}
.vxe-table.cell--highlight {
  .vxe-cell,
  .vxe-tree-cell {
    & > .#{bem(input)}:not(.#{bem(date-editor)}),
    & > .#{bem(autocomplete)},
    & > .#{bem(select)},
    & > .#{bem(cascader)} {
      .#{bem(input,inner)} {
        padding: 0;
        @extend %ResetBorder;
      }
    }
    & > .#{bem(input-number)} {
      .#{bem(input-number,decrease)},
      .#{bem(input-number,decrease)} {
        @extend %ResetBorder;
      }
      .#{bem(input,inner)} {
        @extend %ResetBorder;
      }
    }
    & > .#{bem(date-editor)} {
      .#{bem(input,inner)} {
        @extend %ResetBorder;
      }
    }
  }
}