%ResetBorder {
  border: 0;
}
%SliderStyle {
  .el-slider__runway {
    margin: 8px 0;
    .el-slider__button-wrapper {
      z-index: auto;
    }
  }
}
.vxe-table-element {
  .vxe-table--filter-body {
    & > .el-input,
    & > .el-input-number,
    & > .el-autocomplete,
    & > .el-select,
    & > .el-rate,
    & > .el-slider {
      width: 180px;
    }
    & > .el-slider {
      @extend %SliderStyle;
    }
  }
  .vxe-cell {
    & > .el-input,
    & > .el-autocomplete,
    & > .el-input-number,
    & > .el-select,
    & > .el-cascader,
    & > .el-date-editor,
    & > .el-slider {
      width: 100%;
    }
    & > .el-slider {
      @extend %SliderStyle;
    }
  }
  &.c--highlight,
  .vxe-table.c--highlight {
    .vxe-cell {
      & > .el-input:not(.el-date-editor),
      & > .el-autocomplete,
      & > .el-select,
      & > .el-cascader {
        .el-input__inner {
          padding: 0;
          @extend %ResetBorder;
        }
      }
      & > .el-input-number {
        .el-input-number__decrease,
        .el-input-number__increase {
          @extend %ResetBorder;
        }
        .el-input__inner {
          @extend %ResetBorder;
        }
      }
      & > .el-date-editor {
        .el-input__inner {
          @extend %ResetBorder;
        }
      }
    }
  }
}